.cart-background-container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  position: relative;
  top: 10vh;
}
.cart-empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 90vh;
}
.empty-cart-img {
  width: 200px;
  height: 200px;
}
.cart-dishes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.cart-item {
  margin: auto;
  padding: 10px;
  display: flex;
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
}

.cart-dish-image {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.cart-dish-name {
  margin: 5px 0px;
  font-size: 10px;
  max-width: 500px;
}

.cart-dish-price {
  position: relative;
  top: -5px;
  font-size: 10px;
  margin: 5px 0px;
}
.sub {
  margin: 0;
  font-size: 10px;
  color: gray;
}

.cart-count-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 20px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.cart-counter-button {
  background-color: red;
  color: white;
  cursor: pointer;
  border: red;
  outline: none;
  height: 20px;
  width: 20px;
  font-size: 10px;
}
.cart-counter-button:hover {
  scale: 0.9;
}

.cart-count-point {
  font-size: 10px;
  height: 20px;
  margin: 0;
  padding-top: 4px;
}

.cart-removeAll-button {
  align-self: flex-end;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(163, 37, 37);
  padding: 5px 10px;
  border-radius: 4px;
}

.cart-removeAll-button:hover {
  color: black;
}
.cart-dish-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3px 10px;
}
.cart-remove-button-sm {
  display: inline;
  border: none;
  background-color: red;
  outline: none;
  color: white;
  width: 100px;
  margin-top: 10px;
}
.cart-remove-button-md {
  display: none;
}
@media screen and (min-width: 760px) {
  .cart-removeAll-button {
    width: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .cart-dish-details {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .cart-remove-button-sm {
    display: none;
  }
  .cart-remove-button-md {
    cursor: pointer;
    display: inline;
    margin-left: auto;
    border: none;
    width: 10%;
    flex-shrink: 0;
    background-color: red;
    outline: none;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    word-wrap: break-word;
  }

  .cart-dish-price {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-shrink: 0;
    gap: 10px;
  }
  .cart-dish-image {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
  }
  .cart-item {
    padding: 0px;
    display: flex;
    border: 1px solid grey;
    border-radius: 5px;
    width: 95%;
  }
  .cart-dish-name {
    margin: 5px 0px;
    font-size: 25px;
  }

  .cart-dish-rate {
    /* position: relative;
    top: -20px; */
    font-size: 20px;
    margin: 5px 0px;
  }
  .sub {
    margin: 0;
    font-size: 14px;
    color: gray;
  }
  .cart-count-counter {
    height: 40px;
    width: 200px;
  }
  .cart-counter-button {
    height: 40px;
    width: 40px;
    font-size: 15px;
  }
  .cart-count-point {
    font-size: 15px;
    height: 40px;
    line-height: 30px;
    margin: 0;
  }
}

.description-calorie-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dish-calories {
  color: #ffb609;
  font-size: 8px;
  font-weight: 700;
  margin: 0;
}

.cart-dish-description {
  width: 90%;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .description-calorie-div {
    width: 50%;
    padding-left: 10px;
  }
  .dish-calories {
    font-size: 20px;
  }
  .cart-dish-description {
    font-size: 12px;
  }
}
